<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">

    <property name="appName" value="foundation" />
    <property name="LOG_HOME" value="/log/foundation" />
    <property name="LOG_BACKUP" value="/log/foundation/backup" />
    <property name="LOG_FILE" value="foundation" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [IP=%X{IP:-127.0.0.1}] [${appName}] [%thread] %highlight(%-5level) %cyan(%c) %magenta([message]) %yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [IP] [${appName}] [%thread] %-5level %logger{50} [message] %msg%n</pattern>
        </encoder>
        <file>${LOG_HOME}/${LOG_FILE}.log</file>
    </appender>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [IP=] [${appName}] [%thread] %-5level %logger{50} [message] %msg%n</pattern>
        </encoder>
        <file>${LOG_BACKUP}/%d{yyyy-MM-dd}/</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <cleanHistoryOnStart>${LOG_FILE_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <fileNamePattern>${ROLLING_FILE_NAME_PATTERN:-${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.alibaba.druid.pool.DruidDataSource" level="INFO" additivity="false" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
